  <layout name="Index/header_foot"/>
  <div class="main-div">
      <form action="{:U('Admin/Carousel/add')}" id="cat_form" method="post" name="theForm" enctype="multipart/form-data" >

              <table width="100%" style="margin:0 auto" id="general-table">

                    <tr>
                          <td class="label">轮播图名称:</td>
                          <td><input type='text' name='name' maxlength="20" value='' size='27' /> <font color="red">*</font></td>
                    </tr>

                    <tr>
                          <td class="label">轮播图图片:</td>
                          <td><input type='file' name='pic' maxlength="20" value='' size='27' /></td>
                    </tr>
                     <tr>
                          <td class="label">轮播图链接:</td>
                          <td><input type='text' name='link' maxlength="20" value='' size='27' /> <font color="red">*</font></td>
                    </tr>
                     <tr>
                          <td class="label">是否在前台显示：</td>
                          <td>
                                <input type="radio" name="isshow" value="1">是
                                <input type="radio" name="isshow" value="0" checked>否
                          </td>
                    </tr>

                     <tr>
                          
                          <td><input type='hidden' name='addtime' maxlength="20" value='{:time()}' size='27' /> <font color="red">*</font></td>
                    </tr>

              </table>
              <div class="button-div">
              <input type="submit" value=" 确定 " />
              <input type="reset" value=" 重置 " />
              </div>
      </form>
  </div>

