<layout name="Index/header_foot"/>
<form>
       <p>
              搜索内容：
              <input type="text" value="{$Think.get.search_val}" name="search_val">
              <select name="search_key" >
                   <option value="">请选择搜索类型</option>
                   <option value="type_name" <eq name="Think.get.search_key" value="type_name">selected</eq> >类型名</option>
                   <option value="id" <eq name="Think.get.search_key" value="id">selected</eq> >ID</option>
              </select>
               <input type="submit" value="搜索">
       </p>
</form>
<div class="list-div" id="listDiv">
       <table width="100%" cellspacing="1" cellpadding="2" id="list-table">
              <if condition="empty($typeList) neq true">
              <tr>
                    <th>ID</th>
                    <th>类型名称</th>      
                    <th>操作</th>
              </tr>
              <foreach name="typeList" item="val">
              <tr align="center" class="0" id="0_1" id = 'tr_1'>
                    <td align="center">{$val['id']}</td>
                    <td align="center" class="first-cell" style = 'padding-left="0"'>
                          <span><a href="#" >{$val[type_name]}</a></span>
                    </td>
                    <td width="24%" align="center">
                           <a href="{:U('Attr/list',array('id'=>$val['id']) )}">编辑属性</a> |
                           <a href="{:U('edit',array('id'=>$val['id']) )}">编辑</a> |
                           <a href="{:U('del',array('id'=>$val['id'],'p'=>$p) )}" title="移除">移除</a>
                    </td>
             </tr>
             </foreach>
             <else/>
             <tr><td  align="center">查无数据</td></tr>
             </if>
       </table>
</div>

