<layout name="Common/header_foot"/>
<include file="Common/search"/>
<link href="__PUBLIC__/Home/css/personal.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/Home/css/cmstyle.css" rel="stylesheet" type="text/css">

<div class="nav-table">
<div class="long-title"><span class="all-goods">全部分类</span></div>
<div class="nav-cont">
	<ul>
		<li class="index"><a href="{:U('Index/index')}">首页</a></li>
		<li class="qc"><a href="#">闪购</a></li>
		<li class="qc"><a href="#">限时抢</a></li>
		<li class="qc"><a href="#">团购</a></li>
		<li class="qc last"><a href="#">大包装</a></li>
	</ul>
	<div class="nav-extra">
		<i class="am-icon-user-secret am-icon-md nav-user"></i><b></b>我的福利
		<i class="am-icon-angle-right" style="padding-left: 10px;"></i>
	</div>
</div>
</div>
<b class="line"></b>
<div class="center">
<div class="col-main">
	<div class="main-wrap">
		<div class="user-comment">
			<!--标题 -->
			<div class="am-cf am-padding">
				<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">评价管理</strong> / <small>Manage&nbsp;Comment</small></div>
			</div>
			<hr/>
			<div class="am-tabs am-tabs-d2 am-margin" data-am-tabs>

				<ul class="am-avg-sm-2 am-tabs-nav am-nav am-nav-tabs">
					<li class="am-active"><a href="#tab1">所有评价</a></li>
					<li><a href="#tab2">有图评价</a></li>

				</ul>

				<div class="am-tabs-bd">
					<div class="am-tab-panel am-fade am-in am-active" id="tab1">

						<div class="comment-main">
							<div class="comment-list">
								<ul class="item-list">					
									<div class="comment-top">
										<div class="th th-price">
											<td class="td-inner">评价</td>
										</div>
										<div class="th th-item">
											<td class="td-inner">商品</td>
										</div>													
									</div>
									<foreach name="commentList" item="val">
									<br>
									<li class="td td-item">
										<div class="item-pic">
											<a href="#" class="J_MakePoint">
												<img src="__ROOT__/Uploads/{$val['logo']}" class="itempic">
											</a>
										</div>
									</li>

									<li class="td td-comment">
										<div class="item-title">
											<div class="item-opinion">好评</div>
											<div class="item-name">
												<a href="#">
													<p class="item-basic-info">{$val['goods_name']}</p>
												</a>
											</div>
										</div>
										<div class="item-comment">
											{$val['goods_comment']}
										</div>

										<div class="item-info">
											<div>
												<p class="info-little"><span>{$val['attr_value']}</span> </p>
												<p class="info-time">{$val['addtime']|date = "Y-m-d",###}</p>

											</div>
										</div>
									</li>
									</foreach>
								</ul>

							</div>
						</div>

					</div>
					<div class="am-tab-panel am-fade" id="tab2">
						
						<div class="comment-main">
							<div class="comment-list">
								<ul class="item-list">
									
									
									<div class="comment-top">
										<div class="th th-price">
											<td class="td-inner">评价</td>
										</div>
										<div class="th th-item">
											<td class="td-inner">商品</td>
										</div>													
									</div>
									<foreach name="picsList" item="val">
									<br>
									<li class="td td-item">
										<div class="item-pic">
											<a href="#" class="J_MakePoint">
												<img src="__ROOT__/Uploads/{$val['logo']}" class="itempic">
											</a>
										</div>
									</li>											
									
									<li class="td td-comment">
										<div class="item-title">
											<div class="item-opinion">好评</div>
											<div class="item-name">
												<a href="#">
													<p class="item-basic-info">{$val['goods_name']}</p>
												</a>
											</div>
										</div>
										<div class="item-comment">
											{$val['goods_comment']}
										
										<foreach name="val['pic']" item="val1">
										<div class="filePic" style="float:left">
											<img  src="__ROOT__/Uploads/{$val1}" alt="">
										</div>	
										</foreach>
										</div>

										<div class="item-info">
											<div>
												<p class="info-little"><span>{$val['attr_value']}</span> </p>
												<p class="info-time">{$val['addtime']|date = "Y-m-d",###}</p>

											</div>
										</div>
									</li>
									</foreach>
								</ul>

							</div>
						</div>									
						
					</div>
				</div>
			</div>

		</div>

	</div>
	
</div>

<aside class="menu">
	<ul>
		<li class="person">
			<a href="{:U('User/index')}">个人中心</a>
		</li>
		<li class="person">
			<a style="color:black">个人资料</a>
			<ul>
				<li> <a href="{:U('User/information')}">个人信息</a></li>
				<li> <a href="{:U('Safe/safety')}">安全设置</a></li>
				<li> <a href="{:U('Address/address')}">收货地址</a></li>
			</ul>
		</li>
		<li class="person">
			<a style="color:black">我的交易</a>
			<ul>
				<li><a href="{:U('Orders/orders')}">订单管理</a></li>
				<li> <a href="javascript:;">退款售后</a></li>
			</ul>
		</li>
		<li class="person">
			<a style="color:black">我的资产</a>
			<ul>
				<li> <a href="javascript:;">优惠券 </a></li>
				<li> <a href="javascript:;">红包</a></li>
				<li> <a href="javascript:;">账单明细</a></li>
			</ul>
		</li>

		<li class="person">
			<a style="color:black">我的小窝</a>
			<ul>
				<li> <a href="javascript:;">收藏</a></li>
				<li> <a href="javascript:;">足迹</a></li>
				<li> <a href="{:U('Comment/comment')}">评价</a></li>
				<li> <a href="javascript:;">消息</a></li>
			</ul>
		</li>

	</ul>
</aside>
</div>
