<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>友情连接</title>
</head>
<body>
	<table border="1" width="600">
		<tr>
			<th>Id</th>
			<th>网站名称</th>
			<th>网址</th>
			<th>显示</th>
			<th>操作</th>

		</tr>

		<foreach name='linkslist' item='val'>
			<tr>
				<td>{$val.id}</td>
				<td>{$val.link_name}</td>
				<td>{$val.link_url}</td>
				<td>{$val.isshow}</td>
				<td><a href="{:U('Admin/FriendLinks/del',array('id'=>$val[id]))}">删除</a>  </td>

			</tr>


		</foreach>


	</table>
</body>
</html>