  <layout name="Index/header_foot"/>
  <div class="main-div">
      <form id="cat_form" method="post" name="theForm" enctype="multipart/form-data" >

              <table width="100%" style="margin:0 auto" id="general-table">

                    <tr>
                          <td class="label">品牌名称:</td>
                          <td><input type='text' name='brand_name' maxlength="20" value='' size='27' /> <font color="red">*</font></td>
                    </tr>

                    <tr>
                          <td class="label">品牌url：</td>
                          <td><textarea name="site_url" id="" cols="40" rows="10" placeholder="最大128字,可以为空"></textarea></td>
                    </tr>

                    <tr>
                          <td class="label">品牌logo：</td>
                          <td><input type="file" name="logo"></td>
                    </tr>
                    <tr> 
                          <td class="label"></td>
                          <td name="pic"></td>
                    </tr>
              </table>
              <div class="button-div">
              <input type="submit" value=" 确定 " />
              <input type="reset" value=" 重置 " />
              </div>
      </form>
  </div>
<script>
            $('input[name="logo"]').change(function(){
                      var pic = document.getElementsByName('logo')[0].files[0];
                      var url = window.URL.createObjectURL(pic);
                      var td_pic = $('td[name="pic"]');
                      td_pic.html('<img name="logo" src="'+url+'" width="100">');
            });
</script>
