<layout name="Index/header_foot"/>
<body>
<article class="page-container">
	<form class="form form-horizontal" method="post" id="form-admin-add" enctype="multipart/form-data">
	<input type="hidden" name="id" value="{$brandOne['id']}">

	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>品牌名称：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" name='brand_name' value="{$brandOne['brand_name']}" class="input-text"   >
		</div>
	</div>
	
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>品牌url：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<textarea name="site_url"   class="textarea"  placeholder="100个字符以内" dragonfly="true" onKeyUp="$.Huitextarealength(this,100)">{$brandOne['site_url']}</textarea>
			<p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
		</div>
	</div>
	
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>品牌logo：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="file" name="logo">
			<img name="logo" src="__ROOT__/Uploads/{$brandOne['logo']}" width="100">
		</div>
	</div>

	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
		</div>
	</div>
	</form>
</article>


<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery.validation/1.14.0/messages_zh.js"></script> 
<script type="text/javascript">


$('input[name="logo"]').change(function(){
	var pic = document.getElementsByName('logo')[0].files[0];
	var url = window.URL.createObjectURL(pic);
	if($(this).next().attr('src'))
		$(this).next().attr('src', url);
	else
		$(this).after('<img name="logo" src="'+url+'" width="100">');
});




</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>
