<layout name="Index/header_foot"/>
<form >
        <p>
              搜索内容：
              <input type="text" value="{$Think.get.search_val}" name="search_val">
              <select name="search_key" >
                   <option value="">请选择搜索类型</option>
                   <option value="brand_name" <eq name="Think.get.search_key" value="brand_name">selected</eq>>品牌名</option>
                   <option value="site_url" <eq name="Think.get.search_key" value="site_url">selected</eq> >url地址</option>
                   <option value="id" <eq name="Think.get.search_key" value="id">selected</eq> >ID</option>
              </select>
              <input type="submit" value="搜索">
       </p>
</form>
 <div class="list-div" id="listDiv">
       <table width="100%" cellspacing="1" cellpadding="2" id="list-table">
              <if condition="empty($brandList) neq true">
              <tr>
                    <th>ID</th>
                    <th>品牌名称</th>      
                    <th>品牌网址</th>
                     <th>品牌logo</th>
                    <th>操作</th>
              </tr>
              <foreach name="brandList" item="val">
              <tr align="center" class="0" id="0_1" id = 'tr_1'>
                    <td align="center">{$val['id']}</td>
                    <td align="center" class="first-cell" style = 'padding-left="0"'>
                          <span>{$val[brand_name]}</span>
                    </td>
                    <td width="35%" ><span><a href="http://{$val['site_url']}" >{$val['site_url']}</a></span></td>
                    <td width="20%"><img src="__ROOT__/Uploads/{$val['logo']}" width="50"></td>
                    <td width="24%" align="center">
                           <a href="{:U('edit',array('id'=>$val['id']) )}">编辑</a> |
                           <a href="{:U('del',array('id'=>$val['id'],'p'=>$p) )}" title="移除">移除</a>
                    </td>
            </tr>
            </foreach>
             <tr><td height="30" colspan="5" align="center">{$show}</td></tr>

             <else/>
             <tr><td  align="center">查无数据</td></tr>
             </if>
      </table>
</div>
        


