<layout name="Index/header_foot"/>
<form>
       <p>
              搜索内容：
              <input type="text" value="{$Think.get.search_val}" name="search_val">
              <select name="search_key" >
                   <option value="">请选择搜索类型</option>
                   <option value="cat_name" <eq name="Think.get.search_key" value="cat_name">selected</eq>>分类名</option>
                   <option value="parent_id" <eq name="Think.get.search_key" value="parent_id">selected</eq> >父id</option>
                   <option value="id" <eq name="Think.get.search_key" value="id">selected</eq> >ID</option>
              </select>
       </p>
       <p>
              是否显示：<input type="radio" name="is_show" value="1" <eq name="Think.get.is_show" value="1">checked</eq> >是
                                  <input type="radio" name="is_show" value="0" <eq name="Think.get.is_show" value="0">checked</eq> >否
       </p>
        <input type="submit" value="搜索">
</form>
<br>
<form method="post" action="" name="listForm">
       <div class="list-div" id="listDiv">

             <table width="100%" cellspacing="1" cellpadding="2" id="list-table">
                    <tr>
                          <th>ID</th>
                          <th>分类名称</th>      
                          <th>是否显示</th>
                           <th>父id</th>
                          <th>操作</th>
                    </tr>
                    <foreach name="catList" item="val">
                    <tr align="center" class="0" id="0_1" id = 'tr_1'>
                          <td align="center">{$val['id']}</td>
                          <td align="left" class="first-cell" style = 'padding-left="0"'>
                                <img src="__PUBLIC__/Admin/images/menu_minus.gif" id="icon_0_1" width="9" height="9" border="0" style="margin-left:{$val[lv]}em" />
                                <span><a href="#" >{$val[cat_name]}</a></span>
                          </td>
                          <td width="20%" show="{$val['is_show']}" ><img  src="__PUBLIC__/Admin/images/{$val['is_show']}.gif" /></td>
                          <td width="10%"><span>{$val['parent_id']}</span></td>
                          <td width="24%" align="center">
                                 <a href="{:U('edit',array('id'=>$val['id']) )}">编辑</a> |
                                 <a href="{:U('del',array('id'=>$val['id'],'lv'=>$val['lv'],'p'=>$p) )}" title="移除">移除</a>
                          </td>
                    </tr>
                    </foreach>
            </table>
      </div>
</form>
<script>

        //ajax无刷新修改是否显示
        $('td[show]').click(function(){
             var td = $(this);
             var show = $(this).attr('show');
             var id = td.prev().prev().html();
             $.ajax({
                    type:'GET',
                    url:"{:U('ajaxIsShow','',false)}/id/" +id,
                    dataType:'json',
                    success:function(data){
                          if(data!=null){
                                  str =(data==1)? 'yes':'no';
                                  td.children().attr('src','__PUBLIC__/Admin/images/'+str+'.gif');
                           }
                    }
             })
        });

        //是否显示按钮点击提交表单
        $('input[name="is_show"]').click(function(){
             $(this).parent().parent().submit();
        });


</script>
