  <layout name="Index/header_foot"/>
  <div class="main-div">
      <form id="link_form" method="post" name="theForm" enctype="multipart/form-data" >

              <table width="100%" style="margin:0 auto" id="general-table">
                  <foreach name='list' item='val'>
              		<input type="hidden" name='id' value="{$val['id']}" />
                   
                    <tr>
                          <td class="label">网站名称:</td>
                          <td><input type='text' name='link_name' maxlength="20" value="{$val['link_name']}" size='27' /> <font color="red">*</font></td>
                    </tr>

                    <tr>
                          <td class="label">网站地址:</td>
                          <td><input type='text' name='link_url' maxlength="20" value="{$val['link_url']}" size='27' /> <font color="red">*</font></td>
                    </tr>

                    <tr>
                          <td class="label">是否在前台显示：</td>
                          <td>
                                <input type="radio" name="isshow" value="1">是
                                <input type="radio" name="isshow" value="0" checked>否
                          </td>
                    </tr>
                  </foreach>
              </table>
              <div class="button-div">
              <input type="submit" value=" 确定 " />
              <input type="reset" value=" 重置 " />
              </div>
      </form>
  </div>

