<layout name="Index/header_foot"/>
<title>我的桌面</title>
</head>
<body>
<div class="page-container">
	<p class="f-20 text-success">欢迎使用H-ui.admin <span class="f-14">v3.0</span>后台模版！</p>
	<table class="table table-border table-bordered table-bg mt-20">
		<thead>
			<tr>
				<th colspan="2" scope="col">服务器信息</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th width="30%">服务器计算机名</th>
				<td><span id="lbServerName">{:gethostbyaddr($_SERVER['REMOTE_ADDR'])}</span></td>
			</tr>
			<tr>
				<td>服务器IP地址</td>
				<td>{:getHostByName($_SERVER['SERVER_NAME'])}</td>
			</tr>
			<tr>
				<td>服务器域名</td>
				<td>{$Think.server.http_host}</td>
			</tr>
			<tr>
				<td>服务器端口 </td>	
				<td>{$Think.server.server_port}</td>
			</tr>
			<tr>
				<td>本文件所在文件夹 </td>
				<td>{:dirname(__FILE__)}</td>
			</tr>
			<tr>
				<td>服务器操作系统 </td>
				<td>{:php_uname()}</td>
			</tr>
			<tr>
				<td>系统所在文件夹 </td>
				<td>C:\WINDOWS\system32</td>
			</tr>
			<tr>
				<td>服务器的语言种类 </td>
				<td>{:$_SERVER['HTTP_ACCEPT_LANGUAGE']}</td>
			</tr>
			<tr>
				<td>服务器当前时间 </td>
				<td>{:date('Y-m-d H:i:s',time())}</td>
			</tr>
			<tr>
				<td>总内存 </td>
				<td>{:round(memory_get_peak_usage()/1024/1024,2)}MB</td>
			</tr>
			<tr>
				<td>占用内存 </td>
				<td>{:round(memory_get_usage()/1024/1024,2)}MB</td>
			</tr>
		</tbody>
	</table>
</div>
<footer class="footer mt-20">
	<div class="container">
		<p>感谢jQuery、layer、laypage、Validform、UEditor、My97DatePicker、iconfont、Datatables、WebUploaded、icheck、highcharts、bootstrap-Switch<br>
			Copyright &copy;2015-2017 H-ui.admin v3.0 All Rights Reserved.<br>
			本后台系统由<a href="http://www.h-ui.net/" target="_blank" title="H-ui前端框架">H-ui前端框架</a>提供前端技术支持</p>
	</div>
</footer>
</body>
</html>
