<layout name="Index/header_foot"/>
</head>
<body>
<article class="page-container">
	<form class="form form-horizontal" method="post" id="form-admin-add" enctype="multipart/form-data">
	<input type="hidden" name="id" value="{$floorOne['id']}">
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>楼层名称：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" name='floor_name'  value='{$floorOne["floor_name"]}'  class="input-text"   >
		</div>
	</div>
	
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>第一绑定分类：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<span class="select-box" style="width:150px;">
			<select  class="select"   size="1" name="one_cat" >
				  <option value="0" >请选择</option>
	                                        <foreach name="catList" item="val">
	                                        <option value="{$val['id']}" {$val['id']==$floorOne['one_cat']?'selected':''}>{$val['cat_name']}</option>
	                                        </foreach>
                                        </foreach>
			</select>
			</span>
		</div>
	</div>
	
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>第二绑定分类：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<span class="select-box" style="width:150px;">
			<select  class="select"   size="1" name="two_cat" >
				<option value="0" >请选择</option>
				<foreach name="catList" item="val">
				<option value="{$val['id']}" {$val['id']==$floorOne['two_cat']?'selected':''}>{$val['cat_name']}</option>
				</foreach>
			</select>
			</span>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>楼层排序：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="number"  class="input-text"  name="sort_num" value="{$floorOne['sort_num']}" placeholder="上限">
		</div>
	</div>
 	
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>是否在前台显示：</label>
		<div class="formControls col-xs-8 col-sm-9 skin-minimal">
			<div class="radio-box">
				<input  type="radio"  name="is_show"  {$floorOne['is_show']==1?'checked':''} value="1"  value="1">
				<label for="sex-1">是</label>
			</div>
			<div class="radio-box">
				<input type="radio" name="is_show"  {$floorOne['is_show']==0?'checked':''} value="0"  >
				<label for="sex-2">否</label>
			</div>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>楼层logo：</label>
		<div class="formControls col-xs-8 col-sm-9 skin-minimal">
			<input type="file" name="logo">
		</div>
	</div>
	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
		</div>
	</div>
	</form>
</article>


<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery.validation/1.14.0/messages_zh.js"></script> 
</body>
</html>
