<layout name="Common/header_foot"/><!--悬浮搜索框-->
<include file="Common/search"/>
			
<div class="banner">
 			<!--轮播 -->
	<div class="am-slider am-slider-default scoll" data-am-flexslider id="demo-slider-0">
		<ul class="am-slides">
			<li class="banner1"><a href="introduction.html"><img src="__PUBLIC__/Home/images/ad1.jpg" /></a></li>
			<li class="banner2"><a><img src="__PUBLIC__/Home/images/ad2.jpg" /></a></li>
			<li class="banner3"><a><img src="__PUBLIC__/Home/images/ad3.jpg" /></a></li>
			<li class="banner4"><a><img src="__PUBLIC__/Home/images/ad4.jpg" /></a></li>

		</ul>
	</div>
	<!--轮播-->

	<script type="text/javascript">
		(function(){
			$('.am-slider').flexslider();
		});
		$(document).ready(function() {
			$("li").hover(function() {
				$(".category-content .category-list li.first .menu-in").css("display", "none");
				$(".category-content .category-list li.first").removeClass("hover");
				$(this).addClass("hover");
				$(this).children("div.menu-in").css("display", "block")
			}, function() {
				$(this).removeClass("hover")
				$(this).children("div.menu-in").css("display", "none")
			});
		})
	</script>
	<div class="clear"></div>	
</div>
<div class="shopNav">
	<div class="slideall">
		<!--导航 -->
		<include file="Common/header"/>


		<!--走马灯 -->

		<div class="marqueen">
			<span class="marqueen-title">商城头条</span><!---->
			<div class="demo">

				<ul>
					<li class="title-first"><a target="_blank" href="#">
						<img src="__PUBLIC__/Home/images/TJ2.jpg"></img>
						<span>[特惠]</span>商城爆品1分秒								
					</a></li>
					<li class="title-first"><a target="_blank" href="#">
						<span>[公告]</span>商城与广州市签署战略合作协议
					     <img src="__PUBLIC__/Home/images/TJ.jpg"></img>
					     <p>XXXXXXXXXXXXXXXXXX</p>
				    </a></li>
				    
			<div class="mod-vip">
				<div class="m-baseinfo">
					<a href="person/index.html">
						<if condition="$_SESSION['info']">
							<img src="__ROOT__/Uploads/{$_SESSION['info']['sm_icon']}">
						<else/>
							<img src="__PUBLIC__/Home/images/getAvatar.do.jpg">
						</if>
					</a>
					<em>
						Hi,<span class="s-name">{$_SESSION['info'] ? $_SESSION['info']['username'] : '小叮当'}</span>
						<a href="#"><p>点击更多优惠活动</p></a>									
					</em>
				</div>
				<div class="member-logout" style="display:{$_SESSION['info']?'none':'block'}">
					<a class="am-btn-warning btn" href="{:U('Login/login')}">登录</a>
					<a class="am-btn-warning btn" href="{:U('Reg/register')}">注册</a>
				</div>
				<div class="member-login" style="display:{$_SESSION['info']?'block':'none'}">
					<a href="{:U('Orders/orders')}"><strong>{$ordst1}</strong>待收货</a>
					<a href="{:U('Orders/orders')}"><strong>{$ordst0}</strong>待发货</a>
					<!--<a href="#"><strong>0</strong>待付款</a>-->
					<a href="{:U('Orders/orders')}"><strong>{$ordst2}</strong>待评价</a>
				</div>
				<div class="clear"></div>	
			</div>																	    
				    
					<li><a target="_blank" href="#"><span>[特惠]</span>洋河年末大促，低至两件五折</a></li>
					<li><a target="_blank" href="#"><span>[公告]</span>华北、华中部分地区配送延迟</a></li>
					<li><a target="_blank" href="#"><span>[特惠]</span>家电狂欢千亿礼券 买1送1！</a></li>
					
				</ul>
           				 <div class="advTip"><img src="__PUBLIC__/Home/images/advTip.jpg"/></div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<script type="text/javascript">
		if ($(window).width() < 640) {
			function autoScroll(obj) {
				$(obj).find("ul").animate({
					marginTop: "-39px"
				}, 500, function() {
					$(this).css({
						marginTop: "0px"
					}).find("li:first").appendTo(this);
				})
			}
			$(function() {
				setInterval('autoScroll(".demo")', 3000);
			})
		}
	</script>
</div>
<div class="shopMainbg">
	<div class="shopMain" id="shopmain">
		<!--今日推荐 -->
		<div class="am-g am-g-fixed recommendation">
			<div class="clock am-u-sm-3" >
				<img src="__PUBLIC__/Home/images/2016.png "></img>
				<p>今日<br>推荐</p>
			</div>
			<foreach name="goods['goods_is_hot_list']" item="val">
			<div class="am-u-sm-4 am-u-lg-3 ">
				<div class="info ">
					<h3>{$val['goods_name']}</h3>
					<h4>￥{$val['shop_price']}</h4>
				</div>
				<div class="recommendationMain one">
					<a href="introduction.html"><img  src="__ROOT__/Uploads/{$val['logo']} "></img></a>
				</div>
			</div>						
			</foreach>
		</div>
		<div class="clear "></div>
		<!--热门活动 -->
		<div class="am-container activity ">
			<div class="shopTitle ">
				<h4>限时促销</h4>
				<h3>每期活动 优惠享不停 </h3>
				<span class="more ">
                 				<a href="# ">全部活动<i class="am-icon-angle-right" style="padding-left:10px ;" ></i></a>
            				</span>
			</div>
			<div class="am-g am-g-fixed ">
			<foreach name="goods['goods_is_sale_list']" item="val" key='key'>
			<div  class="am-u-sm-3 {$key==3?'last':''}">
				<div class="icon-sale one "></div>	
					<h4><span style="font-size:1px">秒杀价：</span><br><em style="color:orange">￥{$val['promote_price']}</em></h4>							
				<div class="activityMain ">
					<a href="{:U('Goods/details',array('id'=>$val['id']))}"><img style="width:250px" src="__ROOT__/Uploads/{$val['logo']}"></img></a>
				</div>
				<div class="info ">
					 {$val['goods_name']}
					<h3 time="{$val['promote_end_time']}"></h3>

				</div>			
			</div>
			</foreach>
		</div>
	   	</div>
		<!--促销时间-->
	   	<script>
	   		
	   		setInterval(function(){
	   			$('h3[time]').each(function(){
		   			var lastTime = $(this).attr('time');

		   			var surplusTime = parseInt(lastTime) - (Date.parse(new Date())/1000) ;
		   			var d = Math.floor(surplusTime/60/60/24);
		   			var dTime = surplusTime-d*60*60*24;
		   			var H = Math.floor(dTime/60/60);
		   			var i = Math.floor( (dTime - H*60*60)/60 );
		   			// var s =  Math.round((dTime - H*60*60)/60/60) ;
		   			$(this).html(d + ' 天 ' + H+' 时 '+i+' 分 ');
		   		});
	   		},1000);
	   		// var time = Date.parse(new Date());
	   		// var lastTime = time-
	   	</script>
		<div class="clear "></div>
		
		<foreach  name="floorGoods['floorList']" item="val" key="f_key"> 
		<div id="f1">
			<div class="am-container ">
				<div class="shopTitle ">
					<h4>{$val['floor_name']}</h4>
					<h3>{$val['floor_desc']}</h3>
					<div class="today-brands ">
						<foreach name='val["catList"]' item="cat_val">
						<a href="# ">{$cat_val['cat_name']}</a>
						</foreach>
					</div>
					<span class="more ">
						<a href="# ">更多美味<i class="am-icon-angle-right" style="padding-left:10px ;" ></i></a>
					</span>
				</div>
			</div>
			<div class="am-g am-g-fixed floodFour">
				<div class="am-u-sm-5 am-u-md-4 text-one list " }  style="background:{$color[$f_key]}">
					<div class="word">
						<foreach name="val['brandList']" item="brand_val" >
						<a class="outer" href="#"><span class="inner"><b class="text">{$brand_val['brand_name']}</b></span></a>
						</foreach>
					</div>
					<a href="# ">
						<div class="outer-con ">
							<div class="title ">开抢啦！</div>
							<div class="sub-title ">零食大礼包</div>	
						</div>
						<img src="__ROOT__/Uploads/{$val['logo']} " />
					</a>
					<div class="triangle-topright"></div>
				</div>
				<foreach name="val[goodsList]" item="goods_val" key="goods_key">
				<div class="{$css[$goods_key]}">
					<div class="outer-con ">
						<div class="title ">{$goods_val['goods_name']}</div>
						<div class="sub-title ">¥{$goods_val['shop_price']}</div>
						<i class="am-icon-shopping-basket am-icon-md  seprate"></i>
					</div>
					<a href="{:U('Goods/details',array('id'=>$goods_val['id']))}"><img src="__ROOT__/Uploads/{$goods_val['logo']}" /></a>
				</div>
				</foreach>
			</div>
			<div class="clear "></div>  
		</div>	
		</foreach>	
	</div>
</div>
				
<script>
		
</script>

			
