<layout name="Common/header_foot"/><!--悬浮搜索框-->
<include file="Common/search"/>
<link href="__PUBLIC__/Home/css/seastyle.css" rel="stylesheet" type="text/css" />
<div class="clear"></div>
<b class="line"></b>
<div class="search">
	<div class="search-list">
		<div class="nav-table">
			<div class="slideall" style="height:0px;">
				<include file="Common/header"/>
			</div>
		</div>	
		<div class="am-g am-g-fixed">
			<div class="am-u-sm-12 am-u-md-12">
	                  		<div class="theme-popover">														
					<div class="searchAbout">
						<span class="font-pale">相关搜索：</span>
						<a title="{$cat_name}" href="{:U('search',array('cid'=>$cid))}">{$cat_name}</a>
					</div>
					<ul class="select">
						<p class="title font-normal">
							<span class="fl"></span>
							<span class="total fl">搜索到<strong class="num">{$count}</strong>件相关商品</span>
						</p>
						<p>{$search_val}</p>
						<div class="clear"></div>
						<present name="cid">
							<li class="select-list">
								<dl id="select1">
									<dt class="am-badge am-round">品牌</dt>	
									 <div class="dd-conent">						
										<dd class="select-all selected"><a href="{:U('search',array('cid'=>$cid,'brand_id'=>'no','search'=>$search) )}">全部</a></dd>
										<foreach name="brandList" item="val">
										<dd><a href="{:U('search',array('cid'=>$cid,'brand_id'=>$val['id'] ,'search'=>$search) )}">{$val['brand_name']}</a></dd>
										</foreach>
									 </div>
					
								</dl>
							</li>

							<li class="select-list">
								<dl id="select2">
									<dt class="am-badge am-round">价格</dt>
									<div class="dd-conent">
										<dd class="select-all selected"><a href="{:U('search',array('cid'=>$cid,'price'=>'no','search'=>$search) )}">全部</a></dd>
										<foreach name="price_section" item="val">
										<dd><a href="{:U('search',array('cid'=>$cid,'price'=>$val,'search'=>$search))}">{$val}</a></dd>
										</foreach>
									</div>
								</dl>
							</li>

							<foreach name="attrSearch" item="val" key = 'key' >
							<li class="select-list">
								<dl id="select3">
									<dt class="am-badge am-round">{$key}</dt>
									<div class="dd-conent">
										<?php $attr_search[$i] = 0?>
										<dd class="select-all selected"><a href="{:U('search',array('cid'=>$cid , 'attr_search'=>implode('.',$attr_search)   ,'search'=>$search))}">全部</a></dd>
										<foreach name="val" item="val1" key='key1'>
										<?php 
											$attr_search = $search_arr;
											$attr_search[$i] = $val1['attr_value'].'-'.$val1['attr_id'];
										?>
										<dd><a href="{:U('search',array('cid'=>$cid,'attr_search'=>implode('.',$attr_search)  ,'search'=>$search))}">{$val1['attr_value']}</a></dd>
										</foreach>
									</div {$i++}>
								</dl>
							</li>
				        			</foreach>
			        			</present>
					</ul>
					<div class="clear"></div>
                        			</div>
				<div class="search-content">
					<div class="sort">
						<li class="first"><a title="综合" href="{:U('search',array('cid'=>$cid,'order'=>'sort_num','value'=>$by,'search'=>$search))}">综合排序</a></li>
						<li><a title="价格" href="{:U('search',array('cid'=>$cid,'order'=>'shop_price', 'value'=>$by,'search'=>$search))}">价格排序</a></li>
						<li class="big"><a title="评价" href="{:U('search',array('cid'=>$cid,'order'=>'id','value'=>$by, 'search'=>$search))}">时间排序</a></li>
					</div>
					<div class="clear"></div>

					<ul class="am-avg-sm-2 am-avg-md-3 am-avg-lg-4 boxes">
						<foreach name="goodsList" item="val">
						<li>
							<div class="i-pic limit">
								<a href="{:U('Goods/details',array('id'=>$val['id']))}"><img src="__ROOT__/Uploads/{$val['logo']}" /></a>										
								<p class="title fl">{$val['goods_name']}</p>
								<p class="price fl">
									<b>¥</b>
									<strong>{$val['shop_price']}</strong>
								</p>
								<p class="number fl">
									添加时间<span>{$val['addtime']|date="Y-m-d",###}</span>
								</p>
							</div>
						</li>
						</foreach>
					</ul>
				</div>
				<div class="search-side">

					<div class="side-title">
						热销商品
					</div>
					<foreach name="hot_goods" item="val">
					<li>
						<div class="i-pic check">
							<a href="{:U('Goods/details',array('id'=>$val['id']))}"><img src="__ROOT__/Uploads/{$val['logo']}" /></a>
							<p class="check-title" style="font-size:14px">{$val['goods_name']}</p>
							<p class="price fl">
								<b>¥</b>
								<strong>{$val['shop_price']}</strong>
							</p>
							<p class="number fl">
								添加时间<span>{$val['addtime']|date="Y-m-d",###}</span>
							</p>
						</div>
					</li>
					</foreach>
				</div>
				<div class="clear"></div>
				<!--分页 -->
				<ul class="am-pagination am-pagination-right">
					{$show}
				</ul>
			</div>
		</div>

		<script>
			window.jQuery || document.write('<script src="basic/js/jquery-1.9.min.js"><\/script>');
		</script>
		<script type="text/javascript" src="basic/js/quick_links.js"></script>

