<layout name="Index/header_foot"/>
<form >

</form>
<form method="post" action="" name="listForm">
       <div class="list-div" id="listDiv">
             <table width="100%" cellspacing="1" cellpadding="2" id="list-table">
                    <tr>
                          <th>商品名称</th>      
                          <th>分类</th>
                           <th>品牌</th>
                          <th>市场价</th>
                           <th>本店价</th>
                          <th>类型</th>      
                          <th>是否上架</th>
                           <th>是否最热</th>
                          <th>是否最新</th>
                           <th>是否精品</th>
                          <th>是否促销</th>      
                          <th>logo</th>
                           <th>添加时间</th>
                           <th>排序</th>
                          <th>操作</th>
                    </tr>
                    <foreach name="goodsList" item="val">
                    <tr align="center" class="0" id="0_1" id = 'tr_1'>
                          <input type="hidden" value="{$val['id']}">
                          <td align="center">{$val['goods_name']}</td>
                          <td align="center" >{$val['cat_name']}</td>
                          <td align="center" >{$val['brand_name']}</td>
                          <td align="center" >{$val['market_price']}</td>
                          <td align="center" >{$val['shop_price']}</td>
                          <td align="center" >{$val['type_name']}</td>
                          <td align="center" status="is_on_sale" val= {$val['is_on_sale']} ><img  src="__PUBLIC__/Admin/images/{$val['is_on_sale']}.gif" /></td>
                          <td align="center" status="is_hot"  val = {$val['is_hot']} ><img  src="__PUBLIC__/Admin/images/{$val['is_hot']}.gif" /></td>
                          <td align="center" status="is_new" val = {$val['is_new']}><img  src="__PUBLIC__/Admin/images/{$val['is_new']}.gif" /></td>
                          <td align="center" status="is_best" val = {$val['is_best']}><img  src="__PUBLIC__/Admin/images/{$val['is_best']}.gif" /></td>
                          <td align="center" status="is_sale" val = {$val['is_sale']}><img  src="__PUBLIC__/Admin/images/{$val['is_sale']}.gif" /></td>
                          <td align="center" {$val['logo']}><img width="30" src="__ROOT__/Uploads/{$val['logo']}"></td>
                          <td align="center" >{$val['addtime']}</td>
                          <td align="center" >{$val['sort_num']}</td>
                          <td  align="center" >
                                <a href="{:U('edit',array('id'=>$val['id'],'p'=>$p) )}">编辑</a> |
                                 <a href="{:U('del',array('id'=>$val['id'],'p'=>$p) )}" title="移除">回收站</a>
                          </td>
                    </tr>
                    </foreach>
                    <tr><td height="30" colspan="15" align="center">{$show}</td></tr>
             </table>
      </div>
</form>
<script>

        //ajax无刷新修改是否显示
        $('td[status]').click(function(){
             var td = $(this);
             var id =  td.parent().find('input').attr('value');
             var val = td.attr('val');
             var status = td.attr('status');
             $.ajax({
                    type:'GET',
                    url:"{:U('ajaxGetStatus','',false)}/id/" +id+"/status/"+status,
                    dataType:'json',
                    success:function(data){
                          if(data!=null){
                                  td.children().attr('src','__PUBLIC__/Admin/images/'+data+'.gif');
                           }
                    }
             })
        });

</script>
