<layout name="Index/header_foot"/>
<form >
       <p>
             搜索内容：
             <input type="text"  name="search_val">
             <select name="search_key" id="">
                    <option value="">请选择</option>
                    <option value="goods_name">商品名称</option>
                    <option value="cat_name">分类</option>
                    <option value="brand_name">品牌</option>
                    <option value="type_name">类型</option>
             </select>
       </p>

       <p>
             添加时间：
             <input type="text" class="popupDatepicker" name="start_time">~~<input type="text" class="popupDatepicker" name="last_time">
       </p>

       <p>
             搜索价格：
             <input type="text" name="min_price">~~<input type="text" name="max_price">
             <select name="" id="">
                    <option value="">请选择</option>
                    <option value="market_price">市场价</option>
                    <option value="shop_price">本店价 </option>
             </select>
       </p>

       <p>
             是否上架：
             <input type="radio">上架
             <input type="radio">下架
             &nbsp; &nbsp; ||&nbsp; &nbsp;
             是否促销：
             <input type="radio">是
             <input type="radio">否
       </p>

       <p>
             是否最热：
             <input type="radio">是
             <input type="radio">否
             &nbsp; &nbsp; ||&nbsp; &nbsp;
             是否最新：
             <input type="radio">是
             <input type="radio">否
             &nbsp; &nbsp; ||&nbsp; &nbsp;
             是否精品：
             <input type="radio">是
             <input type="radio">否
       </p>
       
       <p>
             排 &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;序：
             <input type="radio">是
             <input type="radio">是
             <input type="radio">是
             <input type="radio">是
             <input type="radio">是
       </p>
       <input type="submit" value="搜索">
</form>

<form method="post" action="" name="listForm">
       <div class="list-div" id="listDiv">
             <table width="100%" cellspacing="1" cellpadding="2" id="list-table">
                    <tr>
                          <th>商品名称{$num}</th>      
                          <th>分类</th>
                           <th>品牌</th>
                          <th>市场价</th>
                           <th>本店价</th>
                          <th>类型</th>      
                          <th><a name="is_on_sale"  num={$num===false?$num:2} href="javascript:void(0)">是否上架</a></th>
                           <th>是否最热</th>
                          <th>是否最新</th>
                           <th>是否精品</th>
                          <th>是否促销</th>      
                          <th>logo</th>
                           <th>添加时间</th>
                           <th>排序</th>
                          <th>操作</th>
                    </tr>
                    <foreach name="goodsList" item="val">
                    <tr align="center" class="0" id="0_1" id = 'tr_1'>
                          <input type="hidden" value="{$val['id']}">
                          <td align="center">{$val['goods_name']}</td>
                          <td align="center" >{$val['cat_name']}</td>
                          <td align="center" >{$val['brand_name']}</td>
                          <td align="center" >{$val['market_price']}</td>
                          <td align="center" >{$val['shop_price']}</td>
                          <td align="center" >{$val['type_name']}</td>
                          <td align="center" status="is_on_sale" val= {$val['is_on_sale']} ><img  src="__PUBLIC__/Admin/images/{$val['is_on_sale']}.gif" /></td>
                          <td align="center" status="is_hot"  val = {$val['is_hot']} ><img  src="__PUBLIC__/Admin/images/{$val['is_hot']}.gif" /></td>
                          <td align="center" status="is_new" val = {$val['is_new']}><img  src="__PUBLIC__/Admin/images/{$val['is_new']}.gif" /></td>
                          <td align="center" status="is_best" val = {$val['is_best']}><img  src="__PUBLIC__/Admin/images/{$val['is_best']}.gif" /></td>
                          <td align="center" status="is_sale" val = {$val['is_sale']}><img  src="__PUBLIC__/Admin/images/{$val['is_sale']}.gif" /></td>
                          <td align="center" {$val['logo']}><img width="30" src="__ROOT__/Uploads/{$val['logo']}"></td>
                          <td align="center" >{$val['addtime']}</td>
                          <td align="center" >{$val['sort_num']}</td>
                          <td  align="center" >
                                <a href="{:U('edit',array('id'=>$val['id'],'p'=>$_GET['p']) )}">编辑</a> |
                                 <a href="{:U('del',array('id'=>$val['id'],'p'=>$_GET['p']) )}">回收站</a>
                          </td>
                    </tr>
                    </foreach>
                    <tr><td height="30" colspan="15" align="center">{$show}</td></tr>
             </table>
      </div>
</form>
<script>

        //ajax无刷新修改是否显示
        $('td[status]').click(function(){
             var td = $(this);
             var id =  td.parent().find('input').attr('value');
             var val = td.attr('val');
             var status = td.attr('status');
             $.ajax({
                    type:'GET',
                    url:"{:U('ajaxGetStatus','',false)}/id/" +id+"/status/"+status,
                    dataType:'json',
                    success:function(data){
                          if(data!=null){
                                  td.children().attr('src','__PUBLIC__/Admin/images/'+data+'.gif');
                           }
                    }
             })
        });

       $('a[name="is_on_sale"]').click(function(){
             var num = $(this).attr('num');
             var is_name = $(this).attr('name');
             window.location.href = "{:U('list','',false)}/num/"+num+'/is_name/'+ is_name;
       });
      
</script>
