<layout name="Index/header_foot"/>
<include file="index/list" />
<div class="page-container">
  <form >
    <p>搜索内容：
      <input type="text" style="width:120px;" class="input-text"  value="{$Think.get.search_val}" name="search_val">
      <span class="select-box" style="width:150px;">
      <select name="search_key" id="" class="select" size="1">
        <option value="">请选择</option>
        <option value="goods_name" {$_GET['search_key']=='goods_name'?'selected':''}>商品名称</option>
        <option value="cat_name" {$_GET['search_key']=='cat_name'?'selected':''}>分类</option>
        <option value="brand_name" {$_GET['search_key']=='brand_name'?'selected':''}>品牌</option>
        <option value="type_name" {$_GET['search_key']=='type_name'?'selected':''}>类型</option>
      </select>
      </span>
    </p>
    <p>添加时间：
    <input type="text"  style="width:200px" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:'#F<$dp.$D(\'datemax\')||\'%y-%M-%d\'>' })"  class="input-text" value="{$_GET['start_time']}" name="start_time">~~<input type="text" style="width:200px"  class="input-text" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F<$dp.$D(\'datemin\')>' })" value="{$_GET['last_time']}" name="last_time">
    </p>
    <p>
    搜索价格：
    <input type="text" name="min_price" style="width:200px" class="input-text" value="{$_GET['min_price']}">~~<input type="text" style="width:200px" class="input-text" name="max_price" value="{$_GET['max_price']}">
    <span class="select-box" style="width:150px;">
    <select name="price" class="select" size="1" id="">
      <option value="">请选择</option>
      <option value="market_price" {$_GET['price']=='market_price'?'selected':''}>市场价</option>
      <option value="shop_price" {$_GET['price']=='shop_price'?'selected':''}>本店价 </option>
    </select>
    </span>
    </p>

    <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;搜索&nbsp;&nbsp;"><a href="{:U('list','',false)}?unset=1">&nbsp;<input  class="btn btn-danger radius" type="button" value="重置条件"></a>
  </form>

<form action="{:U('restoreOrDel',array('p'=>$_GET['p'],'is_del'=>0) )}" method="post" id="formeDel"  >
  <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><input type="submit" class="btn btn-danger radius" value="批量还原"><i class="Hui-iconfont">&#xe6e2;</i> <span class="r">共有数据：<strong>54</strong> 条</span> </div>
  <table class="table table-border table-bordered table-bg">
    <thead>
      <tr class="text-c">
        <th><input type="button" id="check_all"  class="btn btn-primary radius" value="全选"> <input type="button" id="Inverse" class="btn btn-danger radius" value="反选"></th>
        <th>商品名称</th>    
        <th>logo</th>  
        <th>分类</th>
        <th>品牌</th>
        <th><a name="market_price"  class="sort"   sort_val="{$sort_val===null?1:$sort_val}"  href="javascript:void(0)" >市场价</a></th>
        <th><a name="shop_price"  class="sort"   sort_val="{$sort_val===null?1:$sort_val}"  href="javascript:void(0)" >本店价</a></th>
        <th>类型</th>      
        <th>是否上架</th>
        <th>是否最热</th>
        <th>是否最新</th>
        <th>是否精品</th>
        <th>是否促销</th>      
        <th><a name="id"  class="sort"   sort_val="{$sort_val===null?1:$sort_val}"  href="javascript:void(0)" >添加时间</a></th>
        <th><a name="sort_num"  class="sort"  sort_val="{$sort_val===null?1:$sort_val}" href="javascript:void(0)" >排序</a></th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <foreach name="goodsList" item="val">
      <tr align="center" class="0" id="0_1" id = 'tr_1'>
        <input type="hidden" value="{$val['id']}">
        <td ><input type="checkbox" name="id[ ]" value="{$val['id']}"></td>
        <td >{$val['goods_name']}</td>
        <td ><img width="30" src="__ROOT__/Uploads/{$val['logo']}"></td>
        <td >{$val['cat_name']}</td>
        <td>{$val['brand_name']}</td>
        <td >{$val['market_price']}</td>
        <td  >{$val['shop_price']}</td>
        <td  >{$val['type_name']}</td>
        <td  status="is_on_sale" val= {$val['is_on_sale']} ><img  src="__PUBLIC__/Admin/images/{$val['is_on_sale']}.gif" /></td>
        <td status="is_hot"  val = {$val['is_hot']} ><img  src="__PUBLIC__/Admin/images/{$val['is_hot']}.gif" /></td>
        <td  status="is_new" val = {$val['is_new']}><img  src="__PUBLIC__/Admin/images/{$val['is_new']}.gif" /></td>
        <td  status="is_best" val = {$val['is_best']}><img  src="__PUBLIC__/Admin/images/{$val['is_best']}.gif" /></td>
        <td  status="is_sale" val = {$val['is_sale']}><img  src="__PUBLIC__/Admin/images/{$val['is_sale']}.gif" /></td>
        <td>{$val['addtime']}</td>
        <td >{$val['sort_num']}</td>
        <td>
       <a title="还原" href="{:U('restoreOrDel',array('id'=>$val['id'],'p'=>$p,'is_del'=>0) )}" onclick="del()" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
      </tr>
      </foreach>
    </tbody>
  </table>
</div>
</form>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/Admin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery.validation/1.14.0/messages_zh.js"></script> 
<script type="text/javascript">



  $('.sort').click(function(){
             var sort = $(this).attr('name');
             var sort_val = $(this).attr('sort_val');
             window.location.href = "{:U('list','',false)}/sort/"+sort+"/sort_val/"+sort_val;
       });

//全选
$('#check_all').click(function(){
  $('#formeDel').find('input[name="id[ ]"]').prop('checked',true);
});

//反选
$('#Inverse').click(function(){
  var inputs =  $('#formeDel').find('input[name="id[ ]"]');
  inputs.each(function(key,val){
      var valed = !($(this).prop('checked')) ;
      $(this).prop('checked',valed);
  })
  
});

//ajax无刷新修改是否显示
$('td[status]').click(function(){
     var td = $(this);
     var id =  td.parent().find('input[value]').attr('value');
     var val = td.attr('val');
     var status = td.attr('status');
     $.ajax({
            type:'GET',
            url:"{:U('ajaxGetStatus','',false)}/id/" +id+"/status/"+status,
            dataType:'json',
            success:function(data){
                  if(data!=null){
                          td.children().attr('src','__PUBLIC__/Admin/images/'+data+'.gif');
                   }
            }
     })
});
  
</script>
