<layout name="Index/header_foot"/>
<include file="index/list" />
<form method="post" action="" name="listForm">
       <div class="list-div" id="listDiv">
             <table  class="table table-border table-bordered table-bg">
                  <caption><h2>库存表</h2></caption>
                  <thead>
                          <tr class="text-c">
                          <th><input type="button" name="none" value="添加库存" class="btn btn-primary radius"></th>      
                          <foreach name="attr_name" item="val">
                          <th>{$val}</th>
                          </foreach>
                          <th>数量</th>
                          <th>价格</th>
                           </tr>
                    </thead>
                    <input type="hidden" name="goods_id" value="{$goods_id}">
                    
            
                    <tr class="text-c" name="block" style="display:none">
                          <td ><input type="button" tj='mam' value="+" class="btn btn-primary radius"></td>
                          <foreach name="repertoryAttr" item="val1" key="key1">
                          <td >
                                <select name="goods_attr[{$key1}][]" id="">
                                             <foreach name="val1" item="val2">
                                             <option value="{$val2['id']}" >{$val2['attr_value']}</option>
                                             </foreach>
                                </select>
                          </td>
                          </foreach>
                          <td ><input name="goods_num[]" class="input-text" value="" type="text"></td>
                          <td><input name="goods_price[]" class="input-text" value="" type="text"></td>
                    </tr>
                  
            </table>
            <br>
             &nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" class="btn btn-primary radius">
      </div>
 </form>
<script>

       $('input[name="none"]').click(function(){
                    $('tr[name="block"]').attr('style','');   
        } )

       $('input[ tj="mam"]').click(function(){
              var tr = $(this).parent().parent();
              var tdNum =tr.children().length;
              if(tdNum>2){
                     if($(this).attr('value')=="+"){     
                            var newTr = tr.clone(true);
                            newTr.find('input[value="+"]').attr('value','-');
                            tr.after(newTr);
                     }else{
                            tr.remove();
                     }
              }
       });


</script>
