<layout name="Index/header_foot"/>
<include file="index/list" />
<form method="post" action="{:U(repertoryEdit)}" name="listForm">
       <div class="list-div" id="listDiv">

              <table  class="table table-border table-bordered table-bg">
                     <caption><h2>库存表</h2></caption>
                  <thead>
                          <tr class="text-c">
                          <th><input type="button" class="btn btn-primary radius" name="none" value="添加库存" class="btn btn-primary radius"></th>      
                          <foreach name="attr_name" item="val">
                          <th>{$val}</th>
                          </foreach>
                          <th>数量</th>
                          <th>价格</th>
                           </tr>
                    </thead>
                    <input type="hidden" name="goods_id" value="{$goods_id}">
                    
                    <foreach name="goodsRepList" item="val" key="key">
                    <tr  class="text-c"  id = {$val['id']} hand="0">
                          <td ><input type="button" class="btn btn-primary radius" value="{$key==0?'+':'-'}"></td>
                          <foreach name="repertoryAttr" item="val1" key="key1">
                          <td >
                                <select name="{$status}goods_attr[{$key1}][{$val['id']}][]" id="">
                                              <option value="">请选择</option>
                                             <foreach name="val1" item="val2">
                                             <option value="{$val2['id']}" <if condition="strpos(','.$val['goods_attr_id'].',' , ','.$val2['id'].',' ) nheq false" >selected</if> >{$val2['attr_value']}</option>
                                             </foreach>
                                </select>
                          </td>
                          </foreach>
                          <td ><input name="{$status}goods_num[{$val['id']}]"  class="input-text" value="{$val['goods_number']}" type="text"></td>
                            <td ><input name="{$status}goods_price[{$val['id']}]" class="input-text" value="{$val['goods_price']}" type="text"></td>
                    </tr>
                    </foreach>
                    <tr><td height="30" colspan="100" align="center"><input type="submit"  class="btn btn-primary radius"></td></tr>
            </table>
      </div>
 </form>
<script>

       $('input[type="button"]').click(function(){
              var tr = $(this).parent().parent();
             if($(this).attr('value')=="+"){     
                    var newTr = tr.clone(true);
                    newTr.find('input[value="+"]').attr('value','-');
                    newTr.find(':selected').removeAttr('selected');

                   var trSelect =  newTr.find('select');
                   var oldName = trSelect.attr('name');
                   var newName = oldName.replace('old_','');
                   var start = newName.indexOf('][')+1;
                    var last = newName.lastIndexOf('][')+1;
                   var newName = newName.replace(newName.slice(start,last) , '');
                    trSelect.attr('name',newName);

                   var trInput = newTr.find('input[name]');
                   trInput.each(function(){
                             var oldName =  $(this).attr('name');
                   var newName = oldName.replace('old_','');
                   var start = newName.indexOf('[')+1;
                    var last = newName.lastIndexOf(']');
                   var newName = newName.replace(newName.slice(start,last) , '');


                     $(this).attr('name',newName);
                   });
                 
                    tr.after(newTr);
             }else{
                      var id = tr.attr('id');
                     $.ajax({
                                type:'GET',
                                url:"{:U('ajaxDelRep','',false)}/id/"+id,
                                dataType:'json',
                                success:function(data){
                                       if(data==1)
                                               tr.remove();
                                }
                    });
             }
       });


</script>
