<layout name="Common/header_foot"/>
<include file="Common/search"/>
<link href="__PUBLIC__/Home/css/cartstyle.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Home/css/jsstyle.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/Home/js/address.js"></script>
<link href="__PUBLIC__/Home/css/addstyle.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/addcss2.css" />
<link href="__PUBLIC__/Home/css/address.css" rel="stylesheet" type="text/css">			
<div class="concent">
<!--地址 -->
<div class="paycont">
	<div class="address">
		<h3>确认收货地址 </h3>
		<div class="control">
			<div class="tc-btn createAddr theme-login am-btn am-btn-danger">使用新地址</div>
		</div>
		<div class="clear"></div>
		<ul>
			<?php for($i = 0; $i < count($addinfo); $i++):?>
			<li class="user-addresslist {$addinfo[$i]['status'] == 1 ? 'defaultAddr' : ''}" count="{$i}" style="overflow:hidden">
				<input type="hidden" value='{$addinfo|json_encode=###}'>
				<span class="new-option-r" id="default"><i class="am-icon-check-circle"></i>设为默认</span>
				<p class="new-tit new-p-re">
					<span class="new-txt">{$addinfo[$i]['name']}</span>
					<span class="new-txt-rd2">{$addinfo[$i]['tel']}</span>
				</p>
				<div class="new-mu_l2a new-p-re">
					<p class="new-mu_l2cw" style="padding-top:0px">
						<span class="title">地址：</span>
						<span class="province">{$addinfo[$i]['province']}</span>
						<span class="city">{$addinfo[$i]['city']}</span>
						<span class="dist">{$addinfo[$i]['street']}</span>
						<span class="street">{$addinfo[$i]['detailed']}</span></p>
				</div>
				<div class="new-addr-btn">
					<a href="javascript:void({$i});" class="edit"><i class="am-icon-edit" count="{$i}"></i>编辑</a>
					<span class="new-addr-bar">|</span>
					<a href="javascript:void({$i});" class="del" onclick="return confirm('确定删除？')"><i class="am-icon-trash" count="{$i}"></i>删除</a>
				</div>
			</li>
			<?php endfor;?>
		</ul>
		<div class="clear"></div>
	</div>
	<!--物流 -->
	<div class="logistics">
		<h3>选择物流方式</h3>
		<ul class="op_express_delivery_hot">
			<li data-value="yuantong" class="OP_LOG_BTN  "><i class="c-gap-right" style="background-position:0px -468px"></i>圆通<span></span></li>
			<li data-value="shentong" class="OP_LOG_BTN  "><i class="c-gap-right" style="background-position:0px -1008px"></i>申通<span></span></li>
			<li data-value="yunda" class="OP_LOG_BTN  "><i class="c-gap-right" style="background-position:0px -576px"></i>韵达<span></span></li>
			<li data-value="zhongtong" class="OP_LOG_BTN op_express_delivery_hot_last "><i class="c-gap-right" style="background-position:0px -324px"></i>中通<span></span></li>
			<li data-value="shunfeng" class="OP_LOG_BTN  op_express_delivery_hot_bottom"><i class="c-gap-right" style="background-position:0px -180px"></i>顺丰<span></span></li>
		</ul>
	</div>
	<div class="clear"></div>
	<!--支付方式-->
	<div class="logistics">
		<h3>选择支付方式</h3>
		<ul class="pay-list">
			<li class="pay card"><img src="__PUBLIC__/Home/images/wangyin.jpg" />银联<span></span></li>
			<li class="pay qq"><img src="__PUBLIC__/Home/images/weizhifu.jpg" />微信<span></span></li>
			<li class="pay taobao"><img src="__PUBLIC__/Home/images/zhifubao.jpg" />支付宝<span></span></li>
		</ul>
	</div>
	<div class="clear"></div>

	<!--订单 -->
	<div class="concent">
		<div id="payTable">
			<h3>确认订单信息</h3>
			<div class="cart-table-th">
				<div class="wp">

					<div class="th th-item">
						<div class="td-inner">商品信息</div>
					</div>
					<div class="th th-price">
						<div class="td-inner">单价</div>
					</div>
					<div class="th th-amount">
						<div class="td-inner">数量</div>
					</div>
					<div class="th th-sum">
						<div class="td-inner">金额</div>
					</div>
					<div class="th th-oplist">
						<div class="td-inner">配送方式</div>
					</div>

				</div>
			</div>
			<div class="clear"></div>
			<tr class="item-list">
				<div class="bundle  bundle-last">
					<div class="bundle-main">
					<foreach name="data" item="value" key="key">
						<foreach name="value" item="value1" key="key1">
						<if condition="$key1 nheq 'name'">
						<ul class="item-content clearfix">
							<div class="pay-phone">
								<li class="td td-item">
									<div class="item-pic">
										<a href="#" class="J_MakePoint">
											<img src="{$value1['logo']}" class="itempic J_ItemImg"></a>
									</div>
									<div class="item-info">
										<div class="item-basic-info">
											<a href="#" class="item-title J_MakePoint" data-point="tbcart.8.11">{$value['name']}</a>
										</div>
									</div>
								</li>
								<li class="td td-info">
									<div class="item-props">
										<foreach name="value1['attr_val_arr']" item="value2">
										<span class="sku-line">{$value2=='0'?'':$value2}</span>
										</foreach>
									</div>
								</li>
								<li class="td td-price">
									<div class="item-price price-promo-promo">
										<div class="price-content">
											<em class="J_Price price-now">{$value1['price']}</em>
										</div>
									</div>
								</li>
							</div>
							<li class="td td-amount">
								<div class="amount-wrapper ">
									<div class="item-amount ">
										<span class="phone-title">购买数量</span>
										<div class="sl">
											<input class="min am-btn" name="" type="button" value="-" />
											<input class="text_box" name="" type="text" value="{$value1['num']}" style="width:30px;" />
											<input class="add am-btn" name="" type="button" value="+" />
										</div>
									</div>
								</div>
							</li>
							<li class="td td-sum">
								<div class="td-inner">
									<em tabindex="0" class="J_ItemSum number">{$value1['sum']}</em>
								</div>
							</li>
							<li class="td td-oplist">
								<div class="td-inner">
									<span class="phone-title">配送方式</span>
									<div class="pay-logis">
										快递<b class="sys_item_freprice">10</b>元
									</div>
								</div>
							</li>
						</ul>
						</if>
						</foreach>
					</foreach>
						<div class="clear"></div>
					</div>
			</tr>
			<div class="clear"></div>
			</div>
			</div>
			<div class="clear"></div>
			<div class="pay-total">
		<!--留言-->
			<div class="order-extra">
				<div class="order-user-info">
					<div id="holyshit257" class="memo">
						<label>买家留言：</label>
						<input type="text" title="选填,对本次交易的说明（建议填写已经和卖家达成一致的说明）" placeholder="选填,建议填写和卖家达成一致的说明" class="memo-input J_MakePoint c2c-text-default memo-close">
						<div class="msg hidden J-msg">
							<p class="error">最多输入500个字符</p>
						</div>
					</div>
				</div>
			</div>
			<!--优惠券 -->
			<div class="buy-agio">
				<li class="td td-coupon">

					<span class="coupon-title">优惠券</span>
					<select data-am-selected>
						<option value="a">
							<div class="c-price">
								<strong>￥8</strong>
							</div>
							<div class="c-limit">
								【消费满95元可用】
							</div>
						</option>
						<option value="b" selected>
							<div class="c-price">
								<strong>￥3</strong>
							</div>
							<div class="c-limit">
								【无使用门槛】
							</div>
						</option>
					</select>
				</li>

				<li class="td td-bonus">

					<span class="bonus-title">红包</span>
					<select data-am-selected>
						<option value="a">
							<div class="item-info">
								¥50.00<span>元</span>
							</div>
							<div class="item-remainderprice">
								<span>还剩</span>10.40<span>元</span>
							</div>
						</option>
						<option value="b" selected>
							<div class="item-info">
								¥50.00<span>元</span>
							</div>
							<div class="item-remainderprice">
								<span>还剩</span>50.00<span>元</span>
							</div>
						</option>
					</select>

				</li>

			</div>
			<div class="clear"></div>
			</div>
			<!--含运费小计 -->
			<div class="buy-point-discharge ">
				<p class="price g_price ">
					合计（含运费） <span>¥</span><em class="pay-sum">244.00</em>
				</p>
			</div>

			<!--信息 -->
			<div class="order-go clearfix">
				<div class="pay-confirm clearfix">
					<div class="box">
						<div tabindex="0" id="holyshit267" class="realPay"><em class="t">实付款：</em>
							<span class="price g_price ">
                    									<span>¥</span> <em class="style-large-bold-red " id="J_ActualFee">244.00</em>
							</span>
						</div>

						<div id="holyshit268" class="pay-address">

							<p class="buy-footer-address">
								<span class="buy-line-title buy-line-title-type">寄送至：</span>
								<span class="buy--address-detail">
				   				<span class="province">湖北省</span>
								<span class="city">武汉市</span>
								<span class="dist">洪山区</span>
								<span class="street">雄楚大道666号(中南财经政法大学)</span>
								</span>
								</span>
							</p>
							<p class="buy-footer-address">
								<span class="buy-line-title">收货人：</span>
								<span class="buy-address-detail">   
                       							  		<span class="buy-user">艾迪 </span>
								<span class="buy-phone">15871145629</span>
								</span>
							</p>
						</div>
					</div>

					<div id="holyshit269" class="submitOrder">
						<div class="go-btn-wrap">
							<a id="J_Go" href="success.html" class="btn-go" tabindex="0" title="点击此按钮，提交订单">提交订单</a>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>

		<div class="clear"></div>
	</div>
</div>

<div id="light" class="white_content panel panel-primary"> 
	<form class="am-form am-form-horizontal" count>
		<p><div onclick="document.getElementById('light').style.display='none';" class="am-btn am-btn-danger">关闭</div></p>
		<input type="hidden" id="id" value="">
		<div class="am-form-group">
			<label for="user-name" class="am-form-label">收货人</label>
			<div class="am-form-content">
				<input type="text" id="rename" name="rename" placeholder="收货人" value="">
			</div>
		</div>

		<div class="am-form-group">
			<label for="user-phone" class="am-form-label">手机号码</label>
			<div class="am-form-content">
				<input id="retel" name="retel" placeholder="手机号必填" type="text" value="">
			</div>
		</div>
		<div id="retelError" style="color:red;position:relative;top:-20px;left:106px"></div>

		<div class="am-form-group">
			<label for="user-address" class="am-form-label">所在地</label>
			<input type="text" id="city2" name="recity" style="width:230px;" placeholder="省-市-区/县" />
		</div>

		<div class="am-form-group">
			<label for="user-intro" class="am-form-label">详细地址</label>
			<div class="am-form-content">
				<textarea class="" rows="3" id="redetailed" name="redetailed" placeholder="输入详细地址"></textarea>
			</div>
		</div>

		<div class="am-form-group">
			<div class="am-u-sm-9 am-u-sm-push-3">
				<a class="am-btn am-btn-danger" id="resubmit">保存</a>
			</div>
		</div>
	</form>
</div> 

<div class="theme-popover-mask"></div>

<div class="theme-popover" style="border: 16px solid #337AB7;  ">
	<div class="am-cf am-padding">
		<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">新增地址</strong> / <small>Add address</small></div>
	</div>
	<hr/>

	<div class="am-u-md-12">
		<form class="am-form am-form-horizontal">

			<div class="am-form-group">
				<label for="user-name" class="am-form-label">收货人</label>
				<div class="am-form-content">
					<input type="text" id="name" name="name" placeholder="收货人">
				</div>
			</div>

			<div class="am-form-group">
				<label for="user-phone" class="am-form-label">手机号码</label>
				<div class="am-form-content">
					<input id="tel" name="tel" placeholder="手机号必填" type="text">
				</div>
			</div>

			<div class="am-form-group">
				<label for="user-phone" class="am-form-label">所在地</label>
				<input type="text" id="city" style="width:316px;" placeholder="省-市-区/县" />
			</div>

			<div class="am-form-group">
				<label for="user-intro" class="am-form-label">详细地址</label>
				<div class="am-form-content">
					<textarea class="" rows="3" id="detailed" name="detailed" placeholder="输入详细地址"></textarea>
					<!--<small>100字以内写出你的详细地址...</small>-->
				</div>
			</div>

			<div class="am-form-group theme-poptit">
				<div class="am-u-sm-9 am-u-sm-push-3">
					<div class="am-btn am-btn-danger" id="submit">保存</div>
					<div class="am-btn am-btn-danger close">取消</div>
				</div>
			</div>
		</form>
	</div>

</div>			

<script src="__PUBLIC__/Home/js/jquery-1.11.3.min.js"></script>
<script src="__PUBLIC__/Home/js/Popt.js"></script>
<script src="__PUBLIC__/Home/js/cityJson.js"></script>
<script src="__PUBLIC__/Home/js/citySet.js"></script>
<script type="text/javascript">

	$('#J_Go').click(){
		
	}

	$("#city").click(function (e) {
		SelCity(this,e);
	});

	$("#city2").click(function (e) {
		SelCity(this,e);
	});

	$(".user-addresslist").click(function() {
		$(this).addClass("defaultAddr").siblings().removeClass("defaultAddr");
		var count = $(".defaultAddr").attr("count");
		$.ajax({
			url:"__CONTROLLER__/setDefault",
			data:{count:count},
			type:"POST",
			dataType:"json",
			success:function(res){}
		});
	});

	$(".del").click(function(){
		var count = $(".listLi").attr("count");
		$.ajax({
			url:"__CONTROLLER__/delAdd",
			data:{count:count},
			type:"POST",
			dataType:"json",
			success:function(res){
				if(res == 1){
					window.location.reload();
				}
			}
		});
	});

	$(".user-addresslist").mouseover(function(){
		$(this).addClass("listLi");
	})

	$(".user-addresslist").mouseout(function(){
		$(this).removeClass("listLi");
	})

	$(".edit").click(function(){
		var count = $(".listLi").attr("count");
		var list = $("input[type=hidden]").val();
		$("#light").css({display:"block"});
		var obj = JSON.parse(list);

		$.each(obj,function(i,item){
			if(count == i){
				$("#id").val(item.id);
				$("#rename").val(item.name);
				$("#retel").val(item.tel);
				$("#redetailed").val(item.detailed);
			}
		});
	});

	$("div[id=submit]").click(function(){
		var name = $("#name").val();
		var tel = $("#tel").val();
		var province = $("#hcity").val();
		var city = $("#hproper").val();
		var street = $("#harea").val();
		var detailed = $("#detailed").val();

		if(name && tel && province && city && street && detailed){
			$.ajax({
				url:"__CONTROLLER__/setSuccess",
				data:{name:name,tel:tel,province:province,city:city,street:street,detailed:detailed,},
				type:"POST",
				dataType:"text",
				success:function(res){
					if(res == 1){
						window.location.reload();
					}else{
						$("#addError").html(res);
					}
				}
			});
		}else{
			$("#addError").html("地址信息不能为空");
		}
	});

	$("a[id=resubmit]").click(function(){
		var name = $("#rename").val();
		var tel = $("#retel").val();
		var province = $("#city2").next().val();
		var city = $("#city2").next().next().val();
		var street = $("#city2").next().next().next().val();
		var detailed = $("#redetailed").val();
		var id = $("#id").val()

		if(name && tel && province && city && street && detailed){
			$.ajax({
				url:"__CONTROLLER__/reSuccess",
				data:{id:id,name:name,tel:tel,province:province,city:city,street:street,detailed:detailed,},
				type:"POST",
				dataType:"text",
				success:function(res){
					if(res == 1){
						window.location.reload();
					}
				}
			});
		}
	});
</script>
