<layout name="Common/header_foot"/>
<include file="Common/search"/>
<link href="__PUBLIC__/Home/css/cartstyle.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Home/css/optstyle.css" rel="stylesheet" type="text/css" />

<!--购物车 -->
<form action="{:U('payment')}" method="post" id="cart_form">
<div class="concent">
	<div id="cartTable">
		<div class="cart-table-th">
			<div class="wp">
				<div class="th th-chk">
					<div id="J_SelectAll1" class="select-all J_SelectAll">

					</div>
				</div>
				<div class="th th-item">
					<div class="td-inner">商品信息</div>
				</div>
				<div class="th th-price">
					<div class="td-inner">单价</div>
				</div>
				<div class="th th-amount">
					<div class="td-inner">数量</div>
				</div>
				<div class="th th-sum">
					<div class="td-inner">金额</div>
				</div>
				<div class="th th-op">
					<div class="td-inner">操作</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>


		<div class="item-list">
		<foreach name="cart" item="val" key="key">
		
		
			<div class="bundle  bundle-last ">
				<div class="bundle-hd">
					<div class="bd-promos">
						<div class="bd-has-promo">已享优惠:<span class="bd-has-promo-content">省￥19.50</span>&nbsp;&nbsp;</div>
						<div class="act-promo">
							<a href="#" target="_blank">第二支半价，第三支免费<span class="gt">&gt;&gt;</span></a>
						</div>
						<span class="list-change theme-login">编辑</span>
					</div>
				</div>
				<div class="clear"></div>
				<div class="bundle-main">
					<foreach name="val" item="val1" key="key1">
					<if condition="$key1 nheq 'name'">
					<ul class="item-content clearfix">
						<li class="td td-chk">
							<div class="cart-checkbox ">
								<input class="check-one" id="J_CheckBox_170037950254" name="items[{$key}][]" value="{$key1}" type="checkbox" gid="{$key}">
								<label for="J_CheckBox_170037950254"></label>
							</div>
						</li>
						<li class="td td-item">
							<div class="item-pic">
								<a href="#" target="_blank" data-title="{$val['name']}" class="J_MakePoint" data-point="tbcart.8.12">
									<img src="__ROOT__/Uploads/{$val1['logo']}" class="itempic J_ItemImg"></a>
							</div>
							<div class="item-info">
								<div class="item-basic-info">
									<a href="#" target="_blank" title="{$val['name']}" class="item-title J_MakePoint" data-point="tbcart.8.11">{$val['name']}</a>
								</div>
							</div>
						</li>
						<li class="td td-info">
							<div class="item-props item-props-can">
								<foreach name="val1['attr_val_arr']" item="val2" key='key2'>
								<span class="sku-line">{$val2!='0'?$val2:''}</span>
								</foreach>
							</div>
						</li>
						<li class="td td-price">
							<div class="item-price price-promo-promo">
								<div class="price-content">
									<div class="price-line">
										<em class="price-original">{$val1['market']}</em>
									</div>
									<div class="price-line">
										<em class="J_Price price-now" tabindex="0">{$val1['price']}</em>
									</div>
								</div>
							</div>
						</li>
						<li class="td td-amount">
							<div class="amount-wrapper ">
								<div class="item-amount ">
									<input type="hidden" class="gAId" gid="{$key}" attr_id="{$key1}" >
									<div class="sl">
										<input class="min am-btn"  type="button" value="-" />
										<input class="text_box" name="" type="text" value="{$val1['num']}" style="width:30px;" />
										<input class="add am-btn"  type="button" value="+" />
									</div>
								</div>
							</div>
						</li>
						<li class="td td-sum">
							<div class="td-inner">
								<em tabindex="0" class="J_ItemSum number">{$val1['sum']}</em>
							</div>
						</li>
						<li class="td td-op">
							<div class="td-inner">
								<a title="移入收藏夹" class="btn-fav" href="#">移入收藏夹</a>
								<a href="javascript:;" data-point-url="#" class="delete">删除</a>
							</div>
						</li>
					</ul>
					</if>
					
					</foreach>
				</div>
			</div>		
			
		

		</foreach>

		</div>
		<empty name="Think.session.cart">
			<tr class="item-list"><div class="bundle  bundle-last " style="">购物车空空如也~<a href="{:U('Index/index')}" style="margin-left:20px;color:gray" >去购物~</a></div></tr>
		</empty>
		<div class="clear"></div>

	
	</div>
	<div class="clear"></div>

	<div class="float-bar-wrapper">
		<div id="J_SelectAll2" class="select-all J_SelectAll">
			<div class="cart-checkbox">
				<input class="check-all check" id="J_SelectAllCbx2" name="select-all" value="true" type="checkbox">
				<label for="J_SelectAllCbx2"></label>
			</div>
			<span >全选</span>
		</div>
		<div class="operations">
			<a href="javascript:;" hidefocus="true" class="deleteAll" id="deleteAll">删除</a>
			<a href="#" hidefocus="true" class="J_BatchFav">移入收藏夹</a>
		</div>
		<div class="float-bar-right">
			<div class="amount-sum">
				<span class="txt">已选商品</span>
				<em id="J_SelectedItemsCount">0</em><span class="txt">件</span>
				<div class="arrow-box">
					<span class="selected-items-arrow"></span>
					<span class="arrow"></span>
				</div>
			</div>
			<div class="price-sum">
				<span class="txt">合计:</span>
				<strong class="price">¥<em id="J_Total">0.00</em></strong>
			</div>
			<div class="btn-area">
				<input type="submit" value="结算" id="J_Go" class="btn-area submit-btn submit-btn-disabled" aria-label="请注意如果没有选择宝贝，将无法结算" style="border:0px" disabled="true">
			</div>
		</div>

	</div>
</div>
</form>
			<!--操作页面-->

<div class="theme-popover-mask"></div>

<!-- <div class="theme-popover">
	<div class="theme-span"></div>
	<div class="theme-poptit h-title">
		<a href="javascript:;" title="关闭" class="close">×</a>
	</div>
	<div class="theme-popbod dform">
		<form class="theme-signin" name="loginform" action="" method="post">

			<div class="theme-signin-left">

				<li class="theme-options">
					<div class="cart-title">颜色：</div>
					<ul>
						<li class="sku-line selected">12#川南玛瑙<i></i></li>
						<li class="sku-line">10#蜜橘色+17#樱花粉<i></i></li>
					</ul>
				</li>
				<li class="theme-options">
					<div class="cart-title">包装：</div>
					<ul>
						<li class="sku-line selected">包装：裸装<i></i></li>
						<li class="sku-line">两支手袋装（送彩带）<i></i></li>
					</ul>
				</li>
				<div class="theme-options">
					<div class="cart-title number">数量</div>
					<dd>
						<input class="min am-btn am-btn-default" name="" type="button" value="-" />
						<input class="text_box" name="" type="text" value="1" style="width:30px;" />
						<input class="add am-btn am-btn-default" name="" type="button" value="+" />
						<span  class="tb-hidden">库存<span class="stock">1000</span>件</span>
					</dd>

				</div>
				<div class="clear"></div>
				<div class="btn-op">
					<div class="btn am-btn am-btn-warning">确认</div>
					<div class="btn close am-btn am-btn-warning">取消</div>
				</div>

			</div>
			<div class="theme-signin-right">
				<div class="img-info">
					<img src="images/kouhong.jpg_80x80.jpg" />
				</div>
				<div class="text-info">
					<span class="J_Price price-now">¥39.00</span>
					<span id="Stock" class="tb-hidden">库存<span class="stock">1000</span>件</span>
				</div>
			</div>

		</form>
	</div>
</div> -->

<script>
$(".delete").click(function(){
	if(confirm("确定删除该商品？")){
		var _tr = $(this).parent().parent().parent();
		var gid = _tr.find('.td-amount').find('.gAId').attr('gid');
		$.ajax({
			url:"{:U('Cart/ajaxDel','',false)}/gid/" + gid,
			type:"GET",
			dataType:'json',
			success:function(res){
				if(res == 1){
					_tr.parent().parent().remove();
					totalPrice();
				}else if(res == 2){
					_tr.parent().parent().remove();
					$('.item-list').html('<div class="bundle  bundle-last " style="">购物车空空如也~<a href="{:U('Index/index')}" style="margin-left:20px;color:gray" >去购物~</a></div>');
					$(".check-all").prop("checked",false);
					$("#J_SelectedItemsCount").text(0);
					$("#J_Total").text(0);
				}
			}
		})
	}
});

$(".deleteAll").click(function(){
	if($(".check-one").length == $(".check-one:checked").length){
		if(confirm("确定删除该商品？")){
			var _ul = $(this).parent().parent().parent();
			var valArr = new Array;
			$(".check-one").each(function(i){
				valArr[i] = $(this).attr('gid');
			});
			var gid = valArr.join(',');
			$.ajax({
				url:"{:U('Cart/ajaxDelAll','',false)}",
				type:"POST",
				data:{gid:gid},
				dataType:'json',
				success:function(res){
					if(res == 1){
						$('.bundle-last').empty();
						$('.item-list').html('<div class="bundle  bundle-last " style="">购物车空空如也~<a href="{:U('Index/index')}" style="margin-left:20px;color:gray" >去购物~</a></div>');
						$(".check-all").prop("checked",false);
						$("#J_SelectedItemsCount").text(0);
						$("#J_Total").text(0);
					}
				}
			})
		}
	}
})

$('#J_Go').click(function(){
	$.ajax({
		type:'GET',
		url:"{:U('Cart/ajaxPay','',false)}",
		dataType:'json',
		success:function(data){
			console.log(data);
			if(data){
				document:cart_form.submit();
			}
		}
	})
});
	
$('.add').click(function(){
	var _tr = $(this).parent().parent().parent().parent().parent()
	var oneSum = _tr.find('.J_ItemSum');
	var oneprice = 	_tr.find('.price-now');
	var _prev = $(this).prev();
	var num = $(this).prev().val();
	var gid = $(this).parent().prev().attr('gid');
	var attrId = $(this).parent().prev().attr('attr_id');
	$.ajax({
		type:'GET',
		url:"{:U('Cart/ajaxRep','',false)}/play/add/num/"+num + '/gid/' + gid + '/attrId/' + attrId,
		dataType:'json',
		success:function(data){
			if(data){
				oneSum.html(parseInt(oneSum.html())+parseInt(oneprice.html()) );
				_prev.val(parseInt(num)+1);
				totalPrice();
			}
		}
	})
});

$('.min').click(function(){
	var _tr = $(this).parent().parent().parent().parent().parent()
	var oneSum = _tr.find('.J_ItemSum');
	var oneprice = 	_tr.find('.price-now');
	var _next = $(this).next();
	var num = $(this).next().val();
	if(num>0){
		var gid = $(this).parent().prev().attr('gid');
		var attrId = $(this).parent().prev().attr('attr_id');
		$.ajax({
			type:'GET',
			url:"{:U('Cart/ajaxRep','',false)}/play/min/"+ '/gid/' + gid + '/attrId/' + attrId,
			dataType:'json',
			success:function(data){
				if(data){
					oneSum.html(parseInt(oneSum.html())-parseInt(oneprice.html()) );
					_next.val(parseInt(num)-1);
					totalPrice();
				}
			}
		})
	}
})

$(".text_box").change(function(){
	var gid = $(this).parent().prev().attr('gid');
	var attrId = $(this).parent().prev().attr('attr_id');
	var _this = $(this);
	var n = $(this).val();
	if(n < 1){
		n = 1;
		$(this).val(1);
	}

	$.ajax({
		type:'GET',
		url:"{:U('Cart/ajaxRep','',false)}/play/now/num/"+ n + '/gid/' + gid + '/attrId/' + attrId,
		dataType:'json',
		success:function(data){
			if(data){
				var p = _this.parents('li').prev().children().children().children().children('.price-now').text();
				_this.parents('li').next().children().children().text((parseFloat(n) * parseFloat(p)).toFixed(2));
				totalPrice();
			}else
				_this.val(n);
		}
	})
})

$(".check-one").click(function(){
	if($(this).prop("checked") == true){
		$("#J_Go").attr("disabled",false);
	}else{
		$("#J_Go").attr("disabled",true);
	}
	if($(".check-one").length == $(".check-one:checked").length){
		$(".check-all").prop("checked",true);
		totalPrice();
	}else{
		$(".check-all").prop("checked",false);
		totalPrice();
	}
})

$(".check-all").click(function(){
	if($(this).prop("checked") == true){
		$(".check-one").prop("checked",true);
		$("#J_Go").attr("disabled",false);
		totalPrice();
	}else{
		$(".check-one").prop("checked",false);
		$("#J_Go").attr("disabled",true);
		totalPrice();
	}
})

function totalPrice(){
	var allprice = 0;
	var allnum = 0;
	$(".item-content").each(function(){
		$(this).find(".check-one").each(function(){
			if($(this).prop("checked")){
				var price = parseFloat($(this).parents('li').next().next().next().children().children().children().children('.price-now').text());
				var num = parseInt($(this).parents('li').next().next().next().next().children().children().children().children('.text_box').val());
				var total = price * num;
				$(this).parents('li').next().next().next().next().next().children().children('.number').text(parseFloat(total).toFixed(2));
				var oneprice = parseFloat($(this).parents('li').next().next().next().next().next().children().children('.number').text());
				allnum += num;
				allprice += oneprice;	
			}
			$("#J_SelectedItemsCount").text(allnum);
			$("#J_Total").text(allprice.toFixed(2));
		})
	})
}
</script>
