<layout name="Index/header_foot"/>
<body>
<article class="page-container">
	<form class="form form-horizontal" method="post" id="form-admin-add" onreset="none()">
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>角色名称:</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type='text' class="input-text" name='role_name' maxlength="20" value='' size='27' />
		</div>
	</div>

	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>角色:</label>
		<div class="formControls col-xs-8 col-sm-9 skin-minimal">
			<foreach name="priAll" item="val">
				<if condition="$val.lv eq 0">
					<div class="check-box" style="display:block;">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="checkbox" name="pri_id[]" value="{$val.id}" pid="{$val.parent_id}">
						<label for="{$val.role_name}">{$val.pri_name}</label>
					</div>
				</if>
				<if condition="$val.lv eq 1">
					<div class="check-box" style="display:block;">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="checkbox" name="pri_id[]" value="{$val.id}" pid="{$val.parent_id}">
						<label for="{$val.role_name}">{$val.pri_name}</label>
					</div>
				</if>
				<if condition="$val.lv eq 2">
					<div class="check-box" style="display:block;">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="checkbox" name="pri_id[]" value="{$val.id}" pid="{$val.parent_id}">
						<label for="{$val.role_name}">{$val.pri_name}</label>
					</div>
				</if>
			</foreach>
		</div>
	</div>

	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			<input class="btn btn-danger radius" type="reset" value="&nbsp;&nbsp;重置&nbsp;&nbsp;">
		</div>
	</div>
	</form>
</article>


<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery.validation/1.14.0/messages_zh.js"></script> 
<script type="text/javascript">


$('select[type="type"]').change(function(){

	var type_id = $(this).val();
	var _type = $(this);
	_type.parent().next().remove();
	$.ajax({
		type:'GET',
		url:"{:U('ajaxGetAttr','',false)}/type_id/"+type_id,
		dataType:'json',
		success:function(data){
			var html = "<span class='select-box' style='width:150px;'><select class='select' name='search_attr_id[ ]'   size='1'>";
			var num = data.length;
			for(var i=0;i<num;i++){
				html+="<option value="+ data[i]['id'] +">"+ data[i]['attr_name'] +"</option>";
			} 
			html+="</select></span>";
			_type.parent().after(html);
		}


	})
});

function addnew(a){
	var p = $(a).parent().parent();
	if($(a).html()=="[+]"){

		var newP = p.clone(true);

		newP.find('label ').html('');
		newP.find("a").html("[-]");
		newP.find("select[name='search_attr_id[ ]']").remove();
		p.after(newP);
	}
	else
		p.remove();
}



</script> 

<script type="text/javascript">
    $(function(){
      $(':checkbox').click(function(){
          selLink($(this).attr('pid'));
          selAll($(this).val(),$(this).is(':checked'));
      });
    });

    //选择关联选项
    function selLink(a){
      $(':checkbox').each(function(){
        var b = $(this).attr('pid');
        if($(this).val() == a){
          $(this).prop('checked','true');
          selLink(b);
        }
      });
    }

    // 全选子权限
    function selAll(a,b){
      $(':checkbox').each(function(){
        var c = $(this).attr('pid');
        if(c == a && b){
          $(this).prop('checked','true');
          selAll($(this).val(),$(this).is(':checked'));
        }else if(c == a && b == false){
          $(this).removeProp('checked');
          selAll($(this).val(),$(this).is(':checked'));
        }
      });
    }
  </script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>
