<layout name="Index/header_foot"/>
<form>
       <p>
              搜索内容：
              <input type="text" value="{$Think.get.search_val}" name="search_val">
              <select name="search_key" >
                   <option value="">请选择搜索类型</option>
                   <option value="role.id" <eq name="Think.get.search_key" value="role.id">selected</eq> >ID</option>
                   <option value="role_name" <eq name="Think.get.search_key" value="role_name">selected</eq>>角色名称</option>
                   <option value="pri_name" <eq name="Think.get.search_key" value="pri_name">selected</eq>>权限名称</option>
              </select>
       </p>
        <input type="submit" value="搜索">
</form>
<br>
<form method="post" action="" name="listForm">
       <div class="list-div" id="listDiv">

             <table width="100%" cellspacing="1" cellpadding="2" id="list-table">
                    <tr>
                          <th>ID</th>
                          <th>角色名称</th>
                          <th>拥有权限</th>
                          <th>添加时间</th>
                          <th>操作</th>
                    </tr>
                    <foreach name="roleList" item="val">
                    <tr align="center" class="0" id="0_1" id = 'tr_1'>
                          <td align="center">{$val['id']}</td>
                          <td align="center"><span>{$val['role_name']}</span></td>

                          <td align="center"><span>{$val['group_concat(pri_name)']}</span></td>

                          <td align="center"><span>{$val['addtime'] |date='Y-m-d H:i:s',###}</span></td>
                          <td align="center">
                                 <a href="{:U('edit',array('id'=>$val['id']) )}">编辑</a> |
                                 <a href="{:U('del',array('id'=>$val['id'],'lv'=>$val['lv'],'p'=>$p) )}" title="移除">移除</a>
                          </td>
                    </tr>
                    </foreach>
                    <tr><td height="30" colspan="5" align="center">{$show}</td></tr>
            </table>
      </div>
</form>

