  <layout name="Index/header_foot"/>
  <div class="main-div">
      <form id="admin_form" method="post" name="theForm" enctype="multipart/form-data" >

              <table width="100%" style="margin:0 auto" id="general-table">

                    <tr>
                          <td class="label">管理员账号:</td>
                          <td><input type='text' name='admin_name' maxlength="20" value='' size='27' /> <font color="red">*</font></td>
                    </tr>

                    <tr>
                          <td class="label">管理员名称:</td>
                          <td><input type='text' name='admin_nick' maxlength="20" value='' size='27' /> <font color="red">*</font></td>
                    </tr>

                    <tr>
                          <td class="label">密码:</td>
                          <td><input type='password' name='password' maxlength="12" value='' size='27' /> <font color="red">*</font></td>
                    </tr>

                    <tr>
                          <td class="label">确认密码:</td>
                          <td><input type='password' name='repass' maxlength="12" value='' size='27' /> <font color="red">*</font></td>
                    </tr>

                    <tr>
                          <td class="label">手机号码:</td>
                          <td><input type='text' name='tel' maxlength="20" value='' size='27' /> <font color="red">*</font></td>
                    </tr>

                    <tr>
                          <td class="label">电子邮箱:</td>
                          <td><input type='email' name='email' maxlength="20" value='' size='27' /> <font color="red">*</font></td>
                    </tr>

              </table>
              <div class="button-div">
              <input type="submit" value=" 确定 " />
              <input type="reset" value=" 重置 " />
              </div>
      </form>
  </div>

